<mat-card>
  <img
    src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"
    alt=""
  />
  <div class="movie-info">
    <mat-card-title>Guardians of the Galaxy Vol. 2</mat-card-title>
    <mat-card-subtitle>
      <ul class="movie-details">
        <li><p>2017</p></li>
        <li><p>136 min</p></li>
        <li><p>Action, Adventure, Comedy</p></li>
      </ul>
      <p><b>Director</b> : James Gunn</p>
      <p><b>Actors</b> : Chris Pratt, Zoe Saldana, Dave Bautista</p>
      <p><b>Rating :</b> 7.6 / 10</p>
    </mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <p>
        The Guardians struggle to keep together as a team while dealing with
        their personal family issues, notably Star-Lord's encounter with his
        father the ambitious celestial being Ego.
      </p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-fab color="primary"><mat-icon>favorite</mat-icon></button>
      <button mat-fab color="primary"><mat-icon>movie</mat-icon></button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </div>
</mat-card>
