<nav>
  <mat-list>
    <mat-list-item routerLinkActive="active">
      <a mat-stroked-button routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a mat-stroked-button routerLink="/discover">
        <mat-icon>explore</mat-icon>
        <span>Discover</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a mat-stroked-button routerLink="/watchlist">
        <mat-icon>movie</mat-icon>
        <span>Watchlist</span>
      </a>
    </mat-list-item>
  </mat-list>
</nav>
