
.mat-toolbar
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 10px
    width: 905px
    border-radius: 5px

.btn-wrapper
    display: flex
    align-items: center
    gap: 10px

p
    font-size: medium
    margin: 0
