<mat-toolbar>
  <div class="wrapper">
    <button mat-button [matMenuTriggerFor]="menu">
      Sort by <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="byRating()">Rating</button>
      <button mat-menu-item (click)="byRelease()">Release Date</button>
      <button mat-menu-item (click)="byRuntime()">Runtime</button>
    </mat-menu>
    <span>{{ appliedFilter }}</span>
  </div>
  <div class="right-hand-items">
    <app-search></app-search>
    <button mat-button style="color: rgb(237, 153, 47)">
      <mat-icon>account_circle</mat-icon>
      <span>James</span>
    </button>
  </div>
</mat-toolbar>
