<li>
  <mat-card>
    <!--------------------Movie not clicked------------------------------>
    <div *ngIf="!movieClicked" class="unclicked">
      <img
        [src]="movie.poster"
        [alt]="movie.title"
        (click)="onMovieClicked()"
      />
      <div class="movie-info">
        <mat-card-title>
          {{ movie.title | trimOver20Char }}
        </mat-card-title>
        <span>
          <mat-icon class="star-icon">star</mat-icon>
          {{ movie.rating }}
        </span>
      </div>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button
          mat-fab
          matTooltip="Add to watchlist"
          matTooltipPosition="right"
          color="primary"
          (click)="onAddToWatchlist()"
        >
          <mat-icon>movie</mat-icon>
        </button>
      </mat-card-actions>
    </div>
    <!--------------------Movie clicked----------------------------------->
    <div *ngIf="movieClicked" class="clicked" (click)="onMovieClicked()">
      <div class="movie-info">
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>
          <p>{{ movie.rating }} / 10</p>
          <p>{{ movie.year }}</p>
          <p>{{ movie.runtime }}</p>
        </mat-card-subtitle>
        <mat-card-content>
          <p><b>Actors :</b> {{ movie.actors }}</p>
          <p style="height: 50px">
            <b>Directed by :</b>
            {{ movie.director }}
          </p>
          <mat-divider inset></mat-divider>
          <h3>{{ movie.plot }}</h3>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</li>
